In [5]:
!git clone https://github.com/ivanfilhoreis/ts_features.git

Cloning into 'ts_features'...
remote: Enumerating objects: 101, done.
remote: Counting objects: 100% (101/101), done.
remote: Compressing objects: 100% (93/93), done.
remote: Total 101 (delta 29), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (101/101), 62.73 KiB | 6.27 MiB/s, done.
Resolving deltas: 100% (29/29), done.

In [6]:
#!rm -r /content/ts_features
%cd /content/ts_features

/content/ts_features

In [7]:
!pip install -r requirements.txt

Requirement already satisfied: pymannkendall==1.4.3 in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 1)) (1.4.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pymannkendall==1.4.3->-r requirements.txt (line 1)) (1.22.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from pymannkendall==1.4.3->-r requirements.txt (line 1)) (1.10.1)

In [8]:
from ts_features import tsf_vectorizer
import pandas as pd

In [12]:
df = pd.read_csv("https://raw.githubusercontent.com/ivanfilhoreis/ts_features/main/dataset/soja_cbot.csv")
df['Date'] = pd.to_datetime(df['Date'])
df['Volume'].fillna(method = 'ffill', inplace = True)
df.sort_values(by='Date', inplace = True)
df = df[(df['Date'] > '2015-01-01') & (df['Date'] < '2023-01-01')]
df.reset_index(drop=True, inplace=True)

df.head()

        Date    Close   Volume     Open     High      Low
0 2015-01-02  1002.50  85777.0  1002.50  1002.50  1002.50
1 2015-01-05  1039.75  85777.0  1039.75  1039.75  1039.75
2 2015-01-06  1051.00  85777.0  1051.00  1051.00  1051.00
3 2015-01-07  1052.75  85777.0  1052.75  1052.75  1052.75
4 2015-01-08  1045.00  85777.0  1045.00  1045.00  1045.00

## Features in percentage difference

Extract features in percentage difference of each time series point in relation to its components.

In [13]:
ts = tsf_vectorizer(feature='perc')

df_tsf = ts.fit_transform(df)

In [14]:
df_tsf.sample(20)

,Date,Close,Volume,Open,High,Low,close_intraday,op_cl_intraday,open_close,low_high,...,trd_month,trd_slice_month,trd_slice_year,seas_month,seas_slice_month,seas_slice_year,lvl_year,lvl_month,lvl_slice_year,lvl_slice_month
5,2015-01-09,1051.50,85777.0,1051.50,1051.50,1051.50,0.62,0.62,0.00,0.00,...,-1.0,0.0,-1.0,0.00,0.00,0.00,12.00,5.18,6.06,2.69
660,2017-08-04,956.75,96405.0,960.50,964.25,956.00,-0.39,0.00,-0.39,0.86,...,-1.0,-1.0,-1.0,50.00,0.00,100.00,-2.52,1.01,-1.66,-0.06
1832,2022-03-31,1618.25,84829.0,1666.75,1680.00,1613.50,-2.75,0.17,-2.91,4.12,...,0.0,0.0,1.0,42.86,100.00,42.86,7.52,-3.29,3.68,0.00
521,2017-01-17,1069.25,187207.0,1067.00,1075.50,1052.00,2.20,1.98,0.21,2.23,...,0.0,-1.0,-1.0,0.00,50.00,50.00,8.95,3.18,4.30,1.19
674,2017-08-24,946.50,96713.0,937.25,947.75,935.75,0.91,-0.08,0.99,1.28,...,-1.0,0.0,-1.0,50.00,0.00,100.00,-3.56,-0.08,-2.72,0.98
525,2017-01-23,1058.50,87973.0,1053.00,1068.00,1051.25,-0.84,-1.36,0.52,1.59,...,0.0,-1.0,-1.0,0.00,50.00,50.00,7.85,2.14,3.25,0.18
471,2016-11-02,986.50,93621.0,986.00,995.75,983.00,-0.68,-0.73,0.05,1.30,...,1.0,0.0,1.0,0.00,0.00,0.00,0.29,-2.04,-1.81,-0.61
1320,2020-03-20,862.50,112815.0,845.75,864.75,845.50,2.28,0.30,1.98,2.28,...,0.0,1.0,-1.0,20.00,20.00,60.00,-9.65,-1.11,-3.58,0.15
500,2016-12-14,1034.50,82874.0,1033.75,1040.50,1032.00,-0.48,-0.55,0.07,0.82,...,-1.0,0.0,1.0,100.00,0.00,0.00,5.17,0.63,2.96,-0.34
321,2016-04-01,918.25,117784.0,918.00,920.00,908.25,0.82,0.80,0.03,1.29,...,1.0,1.0,1.0,0.00,0.00,0.00,-6.65,-5.19,-12.93,-1.12
1274,2020-01-14,941.50,76467.0,941.50,948.50,938.50,-0.08,-0.08,0.00,1.07,...,-1.0,0.0,-1.0,20.00,60.00,60.00,-1.38,2.10,5.25,-0.22
1905,2022-07-18,1380.25,78029.0,1355.75,1393.00,1340.75,2.83,1.01,1.81,3.90,...,0.0,1.0,1.0,57.14,14.29,14.29,-8.29,1.07,-1.85,0.48
2010,2022-12-14,1485.00,76309.0,1484.00,1490.50,1472.50,0.03,-0.03,0.07,1.22,...,1.0,1.0,1.0,42.86,28.57,57.14,-1.33,0.53,3.46,1.40
598,2017-05-08,964.75,80962.0,965.00,974.75,963.25,-0.85,-0.82,-0.03,1.19,...,-1.0,0.0,-1.0,50.00,50.00,50.00,-1.70,0.77,1.94,-0.49
1264,2019-12-30,952.50,113654.0,941.50,953.00,939.50,1.17,0.00,1.17,1.44,...,1.0,1.0,0.0,0.00,0.00,25.00,6.04,3.72,3.48,1.21
1047,2019-02-20,916.00,88106.0,915.25,918.50,907.00,0.16,0.08,0.08,1.27,...,0.0,0.0,-1.0,50.00,25.00,50.00,1.98,-0.08,0.61,-0.27
630,2017-06-22,913.25,106165.0,914.25,930.25,910.50,-1.56,-1.46,-0.11,2.17,...,0.0,0.0,-1.0,50.00,50.00,50.00,-6.95,-1.79,-3.50,-1.72
229,2015-11-19,860.00,90112.0,859.50,863.00,852.50,0.26,0.20,0.06,1.23,...,0.0,1.0,-1.0,0.00,0.00,0.00,-8.40,-0.80,-2.19,-0.75
1691,2021-09-09,1270.50,73407.0,1280.00,1281.75,1265.00,-0.70,0.04,-0.74,1.32,...,0.0,0.0,-1.0,66.67,83.33,83.33,-6.41,-0.82,-4.09,-0.96
1663,2021-07-30,1349.25,72277.0,1378.75,1380.75,1343.00,-2.07,0.07,-2.14,2.81,...,0.0,0.0,-1.0,50.00,50.00,83.33,-0.61,-0.94,1.86,-1.46

## Features on labels

It assigns label to each feature:

- value positive: 1
- value negative: -1
- insignificant difference: 0

In [16]:
ts_lb = tsf_vectorizer(feature='label')

tsf_lb = ts_lb.fit_transform(df)

In [17]:
tsf_lb.sample(20)

,Date,Close,Volume,Open,High,Low,close_intraday,op_cl_intraday,open_close,low_high,...,trd_month,trd_slice_month,trd_slice_year,seas_month,seas_slice_month,seas_slice_year,lvl_year,lvl_month,lvl_slice_year,lvl_slice_month
1578,2021-03-30,1366.75,85143.0,1393.00,1394.75,1364.25,-1.0,-1.0,-1.0,1.0,...,0.0,0.0,1.0,33.33,33.33,33.33,1.0,-1.0,-1.0,-1.0
1876,2022-06-03,1697.75,80566.0,1728.75,1730.50,1694.00,-1.0,-1.0,-1.0,1.0,...,-1.0,-1.0,-1.0,28.57,14.29,42.86,1.0,1.0,1.0,1.0
928,2018-08-28,833.25,109299.0,847.00,850.50,833.00,-1.0,-1.0,-1.0,1.0,...,-1.0,-1.0,-1.0,66.67,66.67,100.00,-1.0,-1.0,-1.0,-1.0
1723,2021-10-25,1247.00,95475.0,1230.00,1248.25,1226.50,1.0,-1.0,1.0,1.0,...,0.0,1.0,1.0,33.33,16.67,50.00,-1.0,1.0,-1.0,1.0
1624,2021-06-04,1435.50,54973.0,1402.00,1438.75,1401.75,1.0,-1.0,1.0,1.0,...,-1.0,0.0,0.0,16.67,50.00,16.67,1.0,1.0,-1.0,-1.0
94,2015-05-14,957.00,92026.0,957.00,962.25,953.00,-1.0,-1.0,0.0,1.0,...,-1.0,-1.0,-1.0,0.00,0.00,0.00,1.0,1.0,-1.0,-1.0
1443,2020-09-15,991.50,122260.0,1001.00,1005.75,990.25,-1.0,1.0,-1.0,1.0,...,1.0,1.0,1.0,20.00,0.00,0.00,1.0,-1.0,1.0,1.0
1735,2021-11-10,1216.75,81424.0,1212.00,1222.50,1208.50,1.0,-1.0,1.0,1.0,...,0.0,0.0,1.0,50.00,33.33,50.00,-1.0,-1.0,-1.0,-1.0
1333,2020-04-08,854.50,66939.0,855.75,860.50,851.75,-1.0,1.0,-1.0,1.0,...,-1.0,0.0,1.0,20.00,40.00,20.00,-1.0,1.0,1.0,-1.0
49,2015-03-12,990.50,93908.0,991.00,997.50,985.00,-1.0,-1.0,-1.0,1.0,...,-1.0,-1.0,-1.0,0.00,0.00,0.00,1.0,1.0,-1.0,-1.0
1955,2022-09-27,1408.00,128928.0,1411.25,1437.25,1407.00,-1.0,-1.0,-1.0,1.0,...,0.0,-1.0,1.0,71.43,0.00,14.29,-1.0,-1.0,1.0,-1.0
25,2015-02-06,973.50,102488.0,973.00,987.50,971.25,-1.0,-1.0,1.0,1.0,...,1.0,0.0,-1.0,0.00,0.00,0.00,1.0,-1.0,-1.0,-1.0
2019,2022-12-28,1514.25,96396.0,1490.25,1517.50,1489.50,1.0,-1.0,1.0,1.0,...,1.0,1.0,1.0,42.86,42.86,57.14,1.0,1.0,1.0,1.0
1956,2022-09-28,1408.75,132048.0,1409.00,1412.50,1390.75,-1.0,-1.0,-1.0,1.0,...,0.0,-1.0,1.0,71.43,0.00,14.29,-1.0,-1.0,1.0,-1.0
586,2017-04-20,956.75,111719.0,956.50,966.25,956.00,-1.0,-1.0,1.0,1.0,...,1.0,0.0,-1.0,50.00,50.00,50.00,-1.0,1.0,1.0,-1.0
1038,2019-02-06,921.75,92287.0,920.00,922.50,917.50,1.0,-1.0,1.0,1.0,...,0.0,0.0,-1.0,50.00,25.00,50.00,1.0,1.0,1.0,1.0
1818,2022-03-11,1676.00,75327.0,1689.25,1695.75,1665.25,-1.0,1.0,-1.0,1.0,...,0.0,0.0,1.0,42.86,28.57,42.86,1.0,1.0,1.0,1.0
996,2018-12-04,913.50,66951.0,910.00,916.75,908.50,1.0,1.0,1.0,1.0,...,-1.0,1.0,1.0,100.00,0.00,33.33,-1.0,1.0,1.0,-1.0
816,2018-03-20,1028.25,71362.0,1022.25,1029.75,1022.25,1.0,-1.0,1.0,1.0,...,-1.0,0.0,1.0,66.67,33.33,33.33,1.0,-1.0,1.0,-1.0
117,2015-06-16,927.50,111935.0,929.00,929.00,905.00,1.0,1.0,-1.0,1.0,...,1.0,1.0,-1.0,0.00,0.00,0.00,-1.0,-1.0,-1.0,-1.0

## Extract features value

It extracts the value difference for each component of the time series.

In [18]:
ts_vl = tsf_vectorizer(feature='value')

tsf_vl = ts_vl.fit_transform(df)

In [19]:
tsf_vl.sample(10)

,Date,Close,Volume,Open,High,Low,close_intraday,op_cl_intraday,open_close,low_high,...,trd_month,trd_slice_month,trd_slice_year,seas_month,seas_slice_month,seas_slice_year,lvl_year,lvl_month,lvl_slice_year,lvl_slice_month
1574,2021-03-24,1432.75,71361.0,1421.75,1433.50,1418.25,9.50,-1.50,11.00,15.25,...,0.0,0.0,1.0,33.33,33.33,33.33,75.26,19.02,42.03,23.89
1372,2020-06-04,867.75,136427.0,857.00,873.25,855.50,10.25,-0.50,10.75,17.75,...,1.0,1.0,1.0,40.00,20.00,20.00,-86.90,-1.03,13.52,3.16
1663,2021-07-30,1349.25,72277.0,1378.75,1380.75,1343.00,-28.50,1.00,-29.50,37.75,...,0.0,0.0,-1.0,50.00,50.00,83.33,-8.24,-12.79,24.61,-20.02
240,2015-12-04,906.00,115074.0,905.00,907.00,892.75,8.50,7.50,1.00,14.25,...,-1.0,-1.0,-1.0,0.00,0.00,0.00,-32.87,27.20,26.78,22.95
1830,2022-03-29,1643.00,95367.0,1662.50,1673.00,1622.00,-21.25,-1.75,-19.50,51.00,...,0.0,0.0,1.0,42.86,42.86,42.86,137.94,-30.32,82.16,-36.48
1200,2019-09-27,883.00,60038.0,887.75,889.25,881.50,-5.50,-0.75,-4.75,7.75,...,1.0,0.0,-1.0,0.00,100.00,100.00,-15.24,-0.27,-3.78,-8.98
962,2018-10-16,884.75,94623.0,891.25,891.25,879.25,-6.75,-0.25,-6.50,12.00,...,0.0,-1.0,1.0,33.33,33.33,33.33,-54.98,21.15,1.64,21.55
1158,2019-07-30,896.75,102201.0,903.50,905.25,889.50,-7.50,-0.75,-6.75,15.75,...,0.0,0.0,-1.0,25.00,25.00,100.00,-1.49,-8.69,9.97,-7.27
388,2016-07-07,1024.75,177908.0,1024.75,1087.00,1023.00,-48.50,-48.50,0.00,64.00,...,-1.0,0.0,-1.0,100.00,100.00,100.00,41.07,-5.46,34.37,-45.08
1998,2022-11-28,1457.25,92270.0,1428.25,1461.75,1424.00,21.00,-8.00,29.00,37.75,...,0.0,1.0,1.0,57.14,42.86,57.14,-47.81,13.44,21.94,17.30

# Atribute label from time series features

In [20]:
ts_pr = tsf_vectorizer()

tsf_pr = ts_pr.extract_label(df)

In [22]:
tsf_pr.sample(20)

           Date    Close    Volume     Open     High      Low  label
673  2017-08-23   938.00  119399.0   945.00   947.00   932.75      1
1322 2020-03-24   886.75   86393.0   884.00   887.75   872.50      1
1616 2021-05-24  1522.75   72125.0  1520.75  1525.75  1506.25      1
20   2015-01-30   961.00   99441.0   961.00   972.75   955.00      0
1948 2022-09-16  1448.50   78542.0  1449.00  1455.00  1433.75      1
412  2016-08-10   984.00   65618.0   984.00   990.00   978.25      1
678  2017-08-30   933.25   91752.0   936.50   941.00   931.50      1
1781 2022-01-18  1361.25  109316.0  1360.00  1368.75  1349.75      1
316  2016-03-24   910.50  110534.0   909.75   911.75   902.00      1
87   2015-05-05   984.75  106117.0   984.00   986.75   974.25      1
101  2015-05-25   924.25   92818.0   924.25   924.25   924.25      0
328  2016-04-12   936.25  207763.0   937.00   938.75   924.75      1
29   2015-02-12   986.75   91065.0   986.75   986.75   986.75      0
1049 2019-02-22   923.75   84152.0   923.50   928.00   920.75      1
946  2018-09-24   841.00   65832.0   844.00   845.25   838.25      1
175  2015-09-04   866.50   60501.0   866.00   875.75   865.25      0
1857 2022-05-06  1622.00   68223.0  1649.50  1650.00  1618.00      1
633  2017-06-27   917.50   89185.0   923.00   925.00   915.00      1
1919 2022-08-05  1408.75   95921.0  1416.00  1428.75  1392.75      1
1868 2022-05-23  1687.00   80717.0  1706.00  1720.00  1685.00      1

In [23]:
tsf_pr2 = ts_pr.extract_label(df, bin=(0, -1))

tsf_pr2.sample(20)

           Date    Close    Volume     Open     High      Low  label
582  2017-04-13   966.25   97732.0   967.25   970.50   958.00     -1
744  2017-12-04   998.50  151847.0   998.25  1008.50   996.75     -1
577  2017-04-06   941.50   77652.0   938.00   946.50   938.50     -1
65   2015-04-03   986.00   52947.0   986.00   986.00   986.00      0
1069 2019-03-22   903.75   83200.0   909.75   912.00   903.00     -1
915  2018-08-09   904.00   68805.0   910.50   914.50   902.25     -1
1249 2019-12-06   889.50  148050.0   885.50   892.00   885.25     -1
948  2018-09-26   850.00   79818.0   846.25   854.00   845.75     -1
1981 2022-11-02  1454.00   92921.0  1446.00  1457.75  1431.00     -1
1147 2019-07-15   920.00   80077.0   934.00   936.50   918.50     -1
1355 2020-05-11   855.00   86406.0   854.00   861.25   848.50     -1
208  2015-10-21   905.25  122763.0   905.00   907.00   894.50      0
1000 2018-12-11   915.00  103229.0   907.75   917.25   906.00     -1
173  2015-09-02   874.00   60501.0   874.00   874.00   874.00     -1
1643 2021-07-01  1395.50  119435.0  1402.50  1423.00  1376.00     -1
1838 2022-04-08  1689.00   89537.0  1647.75  1689.75  1645.50     -1
19   2015-01-29   968.25  101923.0   968.00   977.75   967.00     -1
278  2016-01-29   882.25  128230.0   881.00   883.00   867.00      0
21   2015-02-02   959.50   80524.0   958.75   970.50   956.50     -1
183  2015-09-16   887.25  116104.0   888.50   894.50   883.25      0